.courseNameLabel {
  margin-right: 19%;
}
.coursenameInput {
  width: 40%;
}
.coursedescriptionLabel {
  margin-right: 9%;
}
.coursedescriptionInput {
  width: 40%;
  margin-left: 5%;
}
.coursePriceLabel {
  margin-right: 20%;
}
.coursePriceInput {
  width: 40%;
  margin-left: 5%;
}
.courseDurationLabel {
  margin-right: 14%;
}
.courseDurationInput {
  width: 40%;
  margin-left: 5%;
}

.addUserTittle {
  box-sizing: border-box;
  width: 25%;
  height: 30%;

  border: 2px solid white;
  border-radius: 5%;
  background-color: rgb(223, 210, 194);

  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  margin-left: 38%;
}
.addNewButton {
  border-radius: 10%;
  margin-top: 2%;
}
